<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="MaxRandomSeconds" value="5" />
    <add key="PercentageToRunAway" value="5" />
    <add key="PercentageToBuyUsableItem" value="50" />
    <add key="UsableItemToBuy" value="Elixir" />
    <add key="FightEquippedTargets" value="false" />
  </appSettings>
</configuration>